.spielbutton{
    -fx-background-color: #ffffff;
    -fx-background-radius: 15px;
    -fx-text-fill: #ffffff;
    -fx-pref-width:25;
    -fx-pref-height:25;
    -fx-max-width:25;
    -fx-min-width:25;
    -fx-max-height:25;
    -fx-min-height:25;
}

.rot{
    -fx-background-color: #FA5858;
    -fx-text-fill: #000000;
    -fx-opacity: 0.9;
}

.gelb{
    -fx-background-color: #F7FE2E;
    -fx-text-fill: #000000;
    -fx-opacity: 0.8;
}

.gruen{
    -fx-background-color: #64FE2E;
    -fx-text-fill: #000000;
    -fx-opacity: 0.8;
}

.blau{
    -fx-background-color: #5882FA;
    -fx-text-fill: #000000;
    -fx-opacity: 0.8;
}

.transparent{
    -fx-opacity: 0.8;
}