.spielbutton{
    -fx-background-color: #870096;
    -fx-background-radius: 15px;
    -fx-text-fill: #ffffff;
    -fx-pref-width:25;
    -fx-pref-height:25;
    -fx-max-width:25;
    -fx-min-width:25;
    -fx-max-height:25;
    -fx-min-height:25;
}